@model ProductModel
@{
    ViewData["Item"] = "Add new product";
}
<div class="container">
    <h3 class="display-4">Add new product</h3>
    <form method="post" asp-action="AddNewProduct" asp-controller="Product">
        <div class="form-group">
            <label asp-for="Item"></label>
            <input asp-for="Item" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Category"></label>
            <input asp-for="Category" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="Price"></label>
            <textarea asp-for="Price" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="Quantity"></label>
            <input asp-for="Quantity" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Add product" class="btn btn-primary" />
        </div>
    </form>
</div> 