@model IEnumerable<ProductModel>
@using AvondaleTyresOnlineShop.Models;

@{
    Layout = "_Layout";
}

<div class="container">
    <h3 class="display-4">All products</h3>
    <div class="row">

        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h3 class="card-title">@product.Item</h3>
                        <p class="card-text">@product.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-route="productDetailsRoute" asp-route-id="@product.Id"
                                   class="btn btn-sm btn-outline-secondary">View details</a>                            </div>
                            <small class="text-muted">@product.CategoryEnum</small>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</div>